<div class="container-fluid px-3 py-3 sign-up-container d-flex flex-column justify-content-center">
  <div class="row align-items-center py-3">
    <div class="d-none d-lg-block col-lg-6 px-4 pl-md-3 pl-xl-5 pr-md-0 text-left sign-up-title">
      <p class="d-inline-block text-white font-unio-italic pl-xl-3 mb-1 mb-lg-3">Conviértete en el próximo</p>
      <h1 class="no-margin text-uppercase font-usans-heavy pl-xl-3">Agente Universal</h1>
      <p class="sign-up-subtitle mb-3 mt-3 pl-xl-3 font-unio-italic">
        Regístrate, completa las misiones, acumula puntos y<span class="text-pink"> gana</span>.
      </p>
    </div>
    <div class="col-12 col-lg-6 px-3 px-lg-5 text-center">
      <div class="sign-up-box p-3 p-lg-5">
        <img src="/assets/img/logos/logo_club_black.png" alt="" class="sign-up-logo">
        <p class="sign-up-text px-3 mt-3 mt-lg-5 mb-2 mb-lg-4">
          <span class="font-volte-bold">Club Premier</span> te invita a vivir una experiencia increíble.
        </p>
        <div class="w-100" *ngIf="!userService.loggedIn">
          <hr>
          <p class="sign-up-text px-3 my-2 my-lg-4">
            Ingresa tu Número de Socio Club Premier para registrarte:
          </p>
          <form [formGroup]="loginForm">
            <div class="form-group px-0 px-lg-3">
              <input type="number" class="form-control app-input my-3 my-md-0" name="club_premier_id"
                     id="associateNumber" placeholder="Número de socio Club Premier" (keydown)="loginError = undefined"
                     formControlName="club_premier_id" [ngClass]="{'is-invalid': loginError !== undefined}">
              <div class="invalid-feedback" *ngIf="loginError !== undefined">{{loginError}}</div>
            </div>
            <div class="form-group px-3">
              <div class="custom-control custom-checkbox sign-up-checkbox text-left text-md-center" (click)="toggleTerms()">
                <input type="checkbox" class="custom-control-input" [ngClass]="{'is-invalid': termsError}"
                       id="terms" name="accepts_terms" formControlName="accepts_terms">
                <label class="custom-control-label">Acepto <a routerLink="/privacidad">términos y condiciones</a></label>
                <div class="invalid-feedback" *ngIf="termsError" style="letter-spacing: normal;  font-size: 13px;">
                  Debes aceptar los términos y condiciones
                </div>
              </div>
            </div>
            <div class="w-100 text-center">
              <button class="app-btn my-3 sign-up-button"
                      [ngClass]="{'disabled' : !loginForm.valid || loading}" (click)="onLogin()">
                <fa name="circle-o-notch" animation="spin" size="lg" class="mr-3 mt-0" *ngIf="loading"></fa>
                <span class="text-uppercase">Comenzar</span>
              </button>
            </div>
          </form>
          <hr>
          <div class="w-100 text-center">
            <p class="sign-up-text text-center">
              ¿Aún no eres socio <span class="font-volte-bold">Club Premier</span>?
              <br>Inscríbete sin costo en:
            </p>
            <a class="app-btn my-3 register-button outline-btn-dark" href="https://member.clubpremier.com/registro" target="_blank">
              <span class="text-uppercase font-volte-semibold">clubpremier.com</span>
            </a>
          </div>
        </div>
        <div class="w-100 text-center" *ngIf="userService.loggedIn">
          <button class="app-btn my-3 sign-up-button" routerLink="/juegos">
            <span class="text-uppercase">Participa</span>
          </button>
        </div>
      </div>
      <a class="mt-3 subtle-link text-center d-block" target="_blank"
         href="https://www.clubpremier.com/mx/acerca-de-club-premier/aviso-de-privacidad/">Aviso de privacidad</a>
    </div>
  </div>
</div>
