.sign-up-container {
  min-height: calc(100vh - 75px);
  background:
    url("/assets/img/fingerprint4.png") no-repeat -75px 15%,
    url("/assets/img/fingerprint4.png") no-repeat calc(100% + 60px) -20px,
    url("/assets/img/circle1.png") no-repeat calc(100% + 250px) -250px,
    linear-gradient(108.12deg, #2B8B78 0%, #190B33 100%) bottom right;
  background-size:
    150px auto,
    120px auto,
    1200px auto,
    220% 100%;
  overflow: hidden;
}

.sign-up-title {
  font-size: 16px;
  h1 {
    overflow-wrap: break-word;
    font-size: 46px;
    background: #C71652;
    background: -moz-linear-gradient(270deg, #EF5E24 0%, #EE263F 54.2%, #C71652 100%);
    background: -webkit-linear-gradient(270deg, #EF5E24 0%, #EE263F 54.2%, #C71652 100%);
    background: linear-gradient(270deg, #EF5E24 0%, #EE263F 54.2%, #C71652 100%);
    -webkit-background-clip: text;
    line-height: 0.9;
    -webkit-text-fill-color: transparent;
  }
  .sign-up-subtitle {
    color: white;
    font-size: 12px;
    letter-spacing: 0.47px;
  }
}

.sign-up-box {
  border-radius: 16px;
  background-color: #F3F3F3;
  box-shadow: 0 2px 221px 0 rgba(0,0,0,0.5);
  width: 100%;
  display: inline-block;
  max-width: 520px;
  .sign-up-logo {
    max-height: 35px;
    width: auto;
  }
  .sign-up-text {
    font-family: 'Volte Regular', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
  }
  .sign-up-checkbox {
    color: #A7A7A7!important;
    letter-spacing: 1.1px!important;
    font-size: 14px;
    cursor: pointer;
  }
  .custom-control-label:before{
    background-color: #D8D8D8;
    cursor: pointer;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #E92945;
  }

  .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(199,22,82,.25);
  }

  .custom-control-input:active~.custom-control-label::before {
    color: #fff;
    background-color: #fcbaba;
  }

 .sign-up-button {
   width: 100%;
   max-width: 300px;
   padding: 14px 32px;
 }

  .register-button {
    padding: 14px 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}

@media (min-width: 768px) {

  .sign-up-container {
    min-height: calc(100vh - 75px);
    background:
      url("/assets/img/fingerprint3.png") no-repeat 40% 10%,
      url("/assets/img/fingerprint4.png") no-repeat 0 95%,
      url("/assets/img/circle1.png") no-repeat calc(100% + 250px) -250px,
      linear-gradient(108.12deg, #2B8B78 0%, #190B33 100%) bottom right;
    background-size:
      120px auto,
      120px auto,
      1200px auto,
      220% 100%;
  }

  .sign-up-title {
    font-size: 30px;
    h1 {
      font-size: 100px;
    }
    .sign-up-subtitle {
      font-size: 25px;
      letter-spacing: 0.47px;
      line-height: 36px;
    }
  }

  .sign-up-box {
    .sign-up-logo {
      max-height: 50px;
    }
    .sign-up-text {
      font-family: 'Volte Regular', sans-serif;
      letter-spacing: 1.7px;
      text-transform: uppercase;
    }
    .sign-up-checkbox {
      letter-spacing: 2.06px!important;
    }
    .sign-up-button {
      max-width: 300px;
      padding: 14px 32px;
    }
    .register-button {
      padding: 14px 16px;
      letter-spacing: 1.7px;
    }
  }
}
