<div class="container-fluid px-3 py-3 sign-up-container d-flex flex-column justify-content-center">
  <div class="row align-items-center py-3">
    <div class="col-12 col-lg-6 px-4 pl-md-3 pl-xl-5 pr-md-0 text-left sign-up-title">
      <p class="d-inline-block text-white font-unio-italic pl-xl-3 mb-1 mb-lg-3">Conviértete en el próximo</p>
      <h1 class="no-margin text-uppercase font-usans-heavy pl-xl-3">Agente Universal</h1>
      <p class="sign-up-subtitle mb-3 mt-3 pl-xl-3 font-unio-italic">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore <span class="text-pink">magna aliqua</span>.
      </p>
    </div>
    <div class="col-12 col-lg-6 px-3 px-lg-5 text-center">
      <div class="sign-up-box p-3 p-lg-5">
        <img src="/assets/img/logos/logo_club_black.png" alt="" class="sign-up-logo">
        <p class="sign-up-text px-3 mt-3 mt-lg-5 mb-2 mb-lg-4">
          <span class="font-volte-bold">Club Premier</span> te invita a participar por un increíble viaje, juega y completa tu entrenamiento.
        </p>
        <hr>
        <p class="sign-up-text px-3 my-2 my-lg-4">
          Ingresa la siguiente información para registrarte:
        </p>
        <form>
          <div class="form-group px-0 px-lg-3">
            <input type="number" class="form-control app-input" id="associateNumber" placeholder="Número de socio Club Premier">
          </div>
          <div class="form-group px-3">
            <div class="custom-control custom-checkbox sign-up-checkbox text-left text-md-center">
              <input type="checkbox" class="custom-control-input" id="terms">
              <label class="custom-control-label" for="terms">Acepto <u>términos y condiciones</u></label>
            </div>
          </div>
          <div class="w-100 text-center">
            <button class="app-btn my-3 sign-up-button" routerLink="/juegos">
              <span class="text-uppercase">Comenzar</span>
            </button>
          </div>
        </form>
        <hr>
        <div class="w-100 text-center">
          <p class="sign-up-text text-center">
            ¿Aún no eres socio <span class="font-volte-bold">Club Premier</span>? Registrate en el siguiente enlace
          </p>
          <a class="app-btn my-3 register-button outline-btn-dark" href="https://member.clubpremier.com/registro" target="_blank">
            <span class="text-uppercase font-volte-semibold">Quiero ser socio Club Premier</span>
          </a>
        </div>
      </div>
      <a class="mt-3 subtle-link text-center d-block" routerLink="/privacidad">Aviso de privacidad</a>
    </div>
  </div>
</div>
