<div class="container-fluid px-3 pb-3 pt-0 sign-up-container">
  <app-navbar [hideSignIn]="true"></app-navbar>
  <div class="row sign-up-main align-items-center pt-5">
    <div class="col-12 col-lg-6 px-3 px-lg-5 text-left">
      <h1 class="d-inline-block text-white font-volte-regular text-uppercase sign-up-title pl-lg-5">
        Conviértete en el próximo <span class="font-volte-bold">Agente Universal</span>
      </h1>
    </div>
    <div class="col-12 col-lg-6 px-3 px-lg-5">
      <div class="sign-up-box p-3 p-lg-5">
        <img src="/assets/img/logos/logo_club_black.png" alt="" class="sign-up-logo">
        <p class="sign-up-text px-3 mt-3 mb-5">
        <p class="sign-up-text px-3 mt-3 mb-4">
          <span class="font-volte-bold">Club Premier</span> te invita a participar por un increíble viaje, juega y completa tu entrenamiento.
        </p>
        <hr>
        <p class="sign-up-text px-3 my-4">
          Ingresa la siguiente información para registrarte:
        </p>
        <form>
          <div class="form-group px-3">
            <input type="number" class="form-control app-input" id="associateNumber" placeholder="Número de socio Club Premier">
          </div>
          <div class="form-group px-3">
            <div class="custom-control custom-checkbox sign-up-checkbox text-center">
              <input type="checkbox" class="custom-control-input" id="terms">
              <label class="custom-control-label" for="terms">Acepto <u>términos y condiciones</u></label>
            </div>
          </div>
          <div class="w-100 text-center">
            <button class="app-btn my-3 sign-up-button">
              <span class="text-uppercase">Comenzar</span>
            </button>
          </div>
        </form>
        <hr>
        <div class="w-100 text-center">
          <p class="sign-up-text">
            ¿Aún no eres socio <span class="font-volte-bold">Club Premier</span>? Registrate en el siguiente enlace
          </p>
          <button class="app-btn my-3 register-button outline-btn">
            <span class="text-uppercase font-volte-semibold">Quiero ser socio Club Premier</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
