<div class="container-fluid px-3 pb-3 pt-0 landing-container">
  <app-navbar></app-navbar>
  <div class="row landing-main">
    <div class="col-12 text-center mt-lg-5 pt-md-5">
      <img src="/assets/img/agent.png" alt="" class="floating-agent">
      <img src="/assets/img/logos/logo_agente.png" alt="" class="img-fluid d-inline-block w-75 my-5 landing-logo">
      <p class="font-volte-regular text-white text-uppercase px-3 px-md-5 landing-text mt-md-5">
        <span class="font-volte-bold">Club premier</span>
        te invita a participar por un increíble viaje, <br class="d-none d-xl-block">
        juega y  completa tu entrenamiento.
      </p>
      <button class="app-btn w-100 landing-button my-3 my-md-5" (click)="scrollTo(start)">
        <span class="text-uppercase">Ver más</span>
      </button>
    </div>
  </div>
  <div class="row px-0 px-md-5 pb-5 text-white landing-section justify-content-center align-items-xl-end bg-map" id="section-1" #start>
    <div class="col-auto text-right p-0">
      <h2 class="section-number font-volte-bold m-0">01</h2>
    </div>
    <div class="col-9 col-lg-8">
      <div class="row justify-content-center">
        <div class="col-12 col-xl-4 text-pink text-xl-right pr-0">
          <h4 class="text-uppercase section-heading font-montserrat-bold">
            Conviertete<br class="d-none d-xl-block">
             en agente
          </h4>
        </div>
        <div class="col-12 col-xl-8 pr-0">
          <p class="m-0 section-text font-volte-regular text-uppercase">
            Comenzará su viaje a Chicago, en donde un automóvil negro, digno de cualquier agente especial lo transportará al emblemático Blackstone Chicago Hotel,
            el cual ha hospedado a 12 presidentes de Estados Unidos y al afamado enemigo púplico #1 Al Capone.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row tile-section align-items-stretch">
    <div class="col-12 col-md-6 col-lg-4 text-left tile p-0" style="background-image: url('/assets/img/chicago.png')">
      <div class="tile-content tile-gradient d-flex justify-content-center align-items-center">
        <p class="tile-title m-0 font-volte-semibold text-white text-uppercase">Comenzarás tu entenamiento en la emblemática ciudad de chicago</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-left tile p-0" style="background-image: url('/assets/img/suit1.png')"></div>
    <div class="col-12 col-lg-4 text-left tile p-0" style="background-image: url('/assets/img/blackstone.png')"></div>
  </div>
  <div class="row px-0 px-md-5 pb-5 text-white landing-section justify-content-center align-items-center bg-fingerprints" id="section-2">
    <div class="col-9 col-xl-12">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-xl-4 pr-3 text-right order-1 order-xl-0">
          <p class="m-0 section-text font-volte-regular text-uppercase">
            En el emblemático Blackstone Chicago Hotel, como lo hacía Al Capone.
          </p>
        </div>
        <div class="col-12 col-xl-auto text-pink text-right pr-3 order-0 order-xl-1">
          <h4 class="text-uppercase section-heading font-montserrat-bold">
            Vive<br class="d-none d-xl-block">
            la experiencia
          </h4>
        </div>
        <div class="col-auto text-right p-0 d-none d-xl-block order-2">
          <h2 class="section-number font-volte-bold m-0">02</h2>
        </div>
      </div>
    </div>
    <div class="col-3 text-left p-0 d-xl-none">
      <h2 class="section-number font-volte-bold m-0">02</h2>
    </div>
  </div>
  <div class="row tile-section align-items-stretch">
    <div class="col-12 col-md-6 col-lg-4 text-left tile p-0" style="background-image: url('/assets/img/car.png')"></div>
    <div class="col-12 col-md-6 col-lg-4 text-left tile p-0" style="background-image: url('/assets/img/restaurant.png')"></div>
    <div class="col-12 col-lg-4 text-left tile p-0" style="background-image: url('/assets/img/dinner.png')"></div>
  </div>
  <div class="row divider-section align-items-center">
    <div class="col-12 text-center divider-content">
      <img src="/assets/img/crosshair.png" alt="" class="crosshair">
      <img src="/assets/img/binoculars.png" alt="" class="binoculars">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="row px-0 px-md-5 pb-5 text-white landing-section justify-content-center align-items-xl-center bg-map-clean" id="section-3">
        <div class="col-auto text-right p-0">
          <h2 class="section-number font-volte-bold m-0">03</h2>
        </div>
        <div class="col-9">
          <div class="row justify-content-center">
            <div class="col-12 text-pink text-left pr-0">
              <h4 class="text-uppercase section-heading font-montserrat-bold">
                ¡Sigue tu entrenamiento<br class="d-none d-xl-block">
                en Italia!
              </h4>
            </div>
            <div class="col-12 pr-0 pr-lg-5">
              <p class="m-0 section-text font-volte-regular text-uppercase">
                Viaja a la capital de la Toscana Italiana, Florencia y pon a prueba tus habilidades
                como agente.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 p-0">
      <div class="background-section" style="background-image: url('/assets/img/toscana.png')"></div>
    </div>
  </div>
  <div class="row divider-section align-items-center">
    <div class="col-12 text-center divider-content">
      <img src="/assets/img/crosshair.png" alt="" class="crosshair">
      <img src="/assets/img/hat.png" alt="" class="hat">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4 p-0 order-last order-lg-first">
      <div class="background-section" style="background-image: url('/assets/img/livorno.png')"></div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="row px-0 px-md-5 pb-5 text-white landing-section justify-content-center align-items-xl-center bg-map-clean" id="section-4">
        <div class="col-4 col-lg-3 text-left text-lg-right pr-0 pl-3 pl-lg-0 order-last order-lg-first">
          <h2 class="section-number font-volte-bold m-0">04</h2>
        </div>
        <div class="col-8 col-lg-9">
          <div class="row justify-content-center">
            <div class="col-12 text-pink text-right text-lg-left pr-0">
              <h4 class="text-uppercase section-heading font-montserrat-bold">
                Por último realiza <br class="d-none d-xl-block">
                un gran tour
              </h4>
            </div>
            <div class="col-12 pr-0 text-right text-lg-left pr-lg-5">
              <p class="m-0 section-text font-volte-regular text-uppercase">
                Por la ciudad porteña de Livorno al estilo de la Serie Ransom.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row instructions-section landing-section px-3 px-lg-5 align-items-xl-center">
    <div class="col-12 col-xl-4">
      <h1 class="text-uppercase font-montserrat-bold text-pink instructions-heading text-center text-xl-left pb-lg-5">
        ¿Cómo puedo<br class="d-none d-xl-block"> participar?
      </h1>
    </div>
    <div class="col-12 col-xl-8">
      <div class="row px-md-0 text-white">
        <div class="col-12 col-md-6 pr-md-3 align-vertical-middle py-4 py-md-0">
          <h2 class="instruction-number text-left d-inline-block d-md-block">01</h2>
          <p class="instruction-text text-left d-inline-block d-md-block pl-3 pl-md-0">
            Ingresa con tu # de <span class="font-volte-bold">socio Club premier</span>, si aun no eres socio
            registrate <span class="subtle-link">aquí</span>.
          </p>
        </div>
        <div class="col-12 col-md-6 pr-md-3 align-vertical-middle py-4 py-md-0">
          <h2 class="instruction-number text-left d-none d-md-block">02</h2>
          <p class="instruction-text text-right text-md-left d-inline-block d-md-block pr-3 pr-md-0">
            Acumula transacciones en los puntos de la red <span class="font-volte-bold">Club Premier</span> conocelos <span class="subtle-link">aquí</span>.
          </p>
          <h2 class="instruction-number text-left d-inline-block d-md-none">02</h2>
        </div>
        <div class="col-12 col-md-6 pr-md-3 align-vertical-middle py-4 pb-md-0 pt-md-5">
          <h2 class="instruction-number text-left d-inline-block d-md-block">03</h2>
          <p class="instruction-text text-left d-inline-block d-md-block pl-3 pl-md-0">
            Juega para ganar puntos y comenzar tu entrenamiento para ser el próximo <span class="font-volte-bold">Agente Universal.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
