<div class="container-fluid landing-container" #start>
  <app-navbar></app-navbar>
  <app-slider></app-slider>
  <div class="row tile-section align-items-stretch">
    <div class="col-6 text-left tile p-0">
      <div class="tile-content tile-gradient d-flex justify-content-center align-items-lg-center align-items-lg-center pt-5 pt-lg-0">
        <div class="tile-text">
          <p class="tile-title m-0 font-unio-italic text-white">Gana un viaje a</p>
          <img src="/assets/img/texts/text_chicago.png" alt="" class="tile-image">
          <p class="tile-subtitle font-unio-italic text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <button class="app-btn app-btn-dark position-relative">
            <span class="text-uppercase">Ver más</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-6 tile p-0">
      <div class="swiper-container chicago-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="image-container" [style.backgroundImage]="'url(/assets/img/chicago.png)'"></div>
          </div>
          <div class="swiper-slide">
            <div class="image-container" [style.backgroundImage]="'url(https://files.slack.com/files-pri/T050QFFH8-FL4E9G0E9/stocksnap_ds24hg8r69.jpg)'"></div>
          </div>
          <div class="swiper-slide">
            <div class="image-container" [style.backgroundImage]="'url(https://files.slack.com/files-pri/T050QFFH8-FKT26B691/architecture-boat-ferry-boats-2535631.jpg)'"></div>

          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <div class="row tile-section align-items-stretch">
    <div class="col-6 tile p-0">
      <div class="swiper-container florencia-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="image-container" [style.backgroundImage]="'url(/assets/img/florencia.png)'"></div>
          </div>
          <div class="swiper-slide">
            <div class="image-container" [style.backgroundImage]="'url(https://files.slack.com/files-pri/T050QFFH8-FL4EBURBP/img_mbigas_20181122-120026_imagenes_lv_terceros_istock-831423682-kevc-u4530918306969mg-992x558_lavanguardia-web.jpg)'"></div>
          </div>
          <div class="swiper-slide">
            <div class="image-container" [style.backgroundImage]="'url(https://files.slack.com/files-pri/T050QFFH8-FL6JA8F9C/florencia-ciudad-guia.jpg)'"></div>

          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="col-6 text-right tile p-0">
      <div class="tile-content tile-gradient-dark d-flex justify-content-center align-items-lg-center align-items-lg-center pt-5 pt-lg-0">
        <div class="tile-text">
          <p class="tile-title m-0 font-unio-italic text-white">Y tambien a</p>
          <img src="/assets/img/texts/text_florencia.png" alt="" class="tile-image tile-image-right">
          <p class="tile-subtitle font-unio-italic text-white mr-0 d-inline-block">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <br>
          <button class="app-btn position-relative">
            <span class="text-uppercase">Ver más</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row instructions-section px-3 px-lg-5 align-items-xl-center">
    <div class="col-12 col-xl-4">
      <h1 class="text-uppercase font-usans-heavy text-white instructions-heading text-left">
        ¿Cómo <br><span class="text-pink-gradient">participar</span>?
      </h1>
    </div>
    <div class="col-12 col-xl-8 p-lg-5 pt-xl-0">
      <div class="row px-lg-0 text-white">
        <div class="col-12 col-lg-6 pr-lg-3 align-vertical-middle py-4 py-lg-0">
          <h2 class="instruction-number text-left d-inline-block d-lg-block">01</h2>
          <p class="instruction-text text-left d-inline-block d-lg-block pl-3 pl-lg-0">
            Ingresa con tu # de socio Club premier, si aun no eres socio
            registrate <span class="subtle-link">aquí</span>.
          </p>
        </div>
        <div class="col-12 col-lg-6 pr-lg-3 align-vertical-middle py-4 py-lg-0">
          <h2 class="instruction-number text-left d-none d-lg-block">02</h2>
          <p class="instruction-text text-right text-lg-left d-inline-block d-lg-block pr-3 pr-lg-0">
            Acumula transacciones en los puntos de la red Club Premier conócelos <span class="subtle-link">aquí</span>.
          </p>
          <h2 class="instruction-number text-left d-inline-block d-lg-none">02</h2>
        </div>
        <div class="col-12 col-lg-6 pr-lg-3 align-vertical-middle py-4 pb-lg-0 pt-lg-5">
          <h2 class="instruction-number text-left d-inline-block d-lg-block">03</h2>
          <p class="instruction-text text-left d-inline-block d-lg-block pl-3 pl-lg-0">
            Juega para ganar puntos y comenzar tu entrenamiento para ser el próximo Agente Universal.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 offset-0 offset-lg-3 px-3 text-center">
      <button class="app-btn slide-button w-100 my-5" (click)="goToRegister(start)">
        <span class="text-uppercase">Participa ya</span>
      </button>
      <p class="text-white font-volte-regular slide-footer">
        ¿Aún no eres socio <strong>Club Premier</strong>? <br class="d-block d-lg-none">
        Regístrate <a class="subtle-link d-inline-block" href="https://member.clubpremier.com/registro" target="_blank">aquí</a>
      </p>
    </div>
  </div>
</div>
