.landing-container {
  padding: 0 calc(1rem - 1px);
}

.main-section {
  min-height: calc(100vh - 102px);
  background: rgba(25,11,51,1);
  background: linear-gradient(108.12deg, #2B8B78 0%, #190B33 100%);
  background: -webkit-linear-gradient(108.12deg, #2B8B78 0%, #190B33 100%);
  background: -moz-linear-gradient(108.12deg, #2B8B78 0%, #190B33 100%);
  background-position: bottom right;
  background-size: 220% 100%;
  .main-row {
    background: rgba(25,11,51,1);
    background: linear-gradient(108.12deg, #2B8B78 0%, #190B33 100%);
    background: -webkit-linear-gradient(108.12deg, #2B8B78 0%, #190B33 100%);
    background: -moz-linear-gradient(108.12deg, #2B8B78 0%, #190B33 100%);
    background-position: bottom right;
    background-size: 220% 100%;
  }
  .chicago-row {
    background: url("/assets/img/chicago_main.jpg") center center;
  }
  .florencia-row {
    background: url("/assets/img/florencia_long.jpg") center center;
  }
  .image-row {
    background-size: cover;
  }
  .main-agent {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 33%;
    max-width: 210px;
    height: auto;
  }
  .main-btn-mobile {
    position: absolute;
    left: calc(50% - 140px);
    bottom: -21px;
    min-width: 280px;
    z-index: 11;
    text-align: center;
  }
  .main-btn {
    min-width: 280px;
  }
  .main-subtitle {
    font-size: 20px;
  }
  .main-small-title {
    font-size: 28px;
  }
  .main-title {
    font-size: 64px;
    line-height: 0.9;
  }
  .main-small {
    font-size: 14px;
  }
}

.tile-section {
  .tile {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .tile-content {
      width: 100%;
      min-height: 230px;
      &.tile-gradient {
        background: rgb(199,22,82);
        background: -moz-linear-gradient(270deg, #EF5E24 0%, #EE263F 54.2%, #C71652 100%);
        background: -webkit-linear-gradient(270deg, #EF5E24 0%, #EE263F 54.2%, #C71652 100%);
        background: linear-gradient(270deg, #EF5E24 0%, #EE263F 54.2%, #C71652 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c71652', endColorstr='#ef5e24',GradientType=1 );
      }
      &.tile-gradient-dark {
        background: rgba(25,11,51,1);
        background: -moz-linear-gradient(108.12deg, rgba(43,139,120,1) 0%, rgba(25,11,51,1) 100%);
        background: -webkit-linear-gradient(108.12deg, rgba(43,139,120,1) 0%, rgba(25,11,51,1) 100%);
        background: linear-gradient(108.12deg, rgba(43,139,120,1) 0%, rgba(25,11,51,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c71652', endColorstr='#ef5e24',GradientType=1 );
      }
    }
  }
  .tile-text {
    position: relative;
    width: 90%;
    .tile-title {
      font-size: 14px;
      position: relative;
    }
    .tile-first-title {
      font-size: 12px;
      line-height: 0.9;
    }
    .tile-image {
      position: absolute;
      left: 0;
      top: 20px;
      width: 200%;
      height: auto;
      max-width: 500px;
    }
    .tile-image-right {
      left: calc(100% - 240px);
    }
    .tile-subtitle {
      margin-top: 50px;
      max-width: 100%;
      font-size: 12px;
      line-height: 0.9;
    }
  }
  .image-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
  }
}

.instructions-section {
  background: url("/assets/img/backgrounds/bg_bases_landing.jpg") no-repeat center bottom;
  background-size: cover;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 200px;
  .instructions-heading {
    font-size: 60px;
    line-height: 0.95;
  }
  .instruction-number {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  .instruction-text {
    font-family: 'UniObjektiv', sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 24px;
    line-height: 0.95;
    max-width: calc(100% - 80px);
  }
}

@media (min-width: 992px) {
  .main-section {
    .main-subtitle {
      font-size: 25px;
    }
    .main-small-title {
      font-size: 38px;
    }
    .main-title {
      font-size: 85px;
      line-height: 0.9;
    }
    .main-small {
      font-size: 14px;
    }
  }

  .tile-section {
    .tile {
      .tile-content {
        min-height: 680px;
      }
    }
    .tile-text {
      width: 75%;
      .tile-title, .tile-subtitle {
        font-size: 25px;
        line-height: 36px;
      }
      .tile-first-title {
        font-size: 25px;
        line-height: 0.9;
      }
      .tile-image {
        top: 35px;
        width: 800px;
        max-width: 800px;
        height: auto;
      }
      .tile-image-right {
        left: calc(100% - 380px);
      }
      .tile-subtitle {
        margin-top: 75px;
        max-width: 400px;
      }
    }
  }

  .instructions-section {
    background: url("/assets/img/backgrounds/bg_bases_landing.jpg") no-repeat center bottom;
    background-size: cover;
    .instructions-heading {
      font-size: 60px;
    }
    .instruction-number {
      font-size: 60px;
    }
    .instruction-text {
      font-size: 24px;
      max-width: 100%;
      letter-spacing: -0.01px;
      line-height: 33px;
      font-weight: 100;
    }
  }
}

@media screen and (max-width: 575.98px) {
  .main-section {
    min-height: calc(100vh - 68.75px);
    .main-btn {
      min-width: 280px;
    }
    .main-subtitle {
      font-size: 14px;
    }
    .main-small-title {
      font-size: 22px;
    }
    .main-title {
      font-size: 50px;
      line-height: 0.9;
    }
    .small-text {
      font-size: 12px;
    }
  }

  .tile-section {
    .app-btn {
      max-width: 80%;
      font-size: 12px;
      letter-spacing: 1.5px;
      padding: 5px 16px;
    }
    .tile-image-right {
      left: 5px!important;
    }
  }

  .instructions-section {
    background: url("/assets/img/backgrounds/bg_bases_landing.jpg") no-repeat center bottom;
    padding-top: 75px;
    padding-bottom: 75px;
    .instructions-heading {
      font-size: 46px;
      line-height: 0.95;
    }
    .instruction-text {
      font-size: 16px;
      line-height: 0.95;
      max-width: calc(100% - 80px);
    }
  }
}
