<div class="row footer p-3 p-lg-5 align-items-center">
  <div class="col-6 text-center text-left">
    <img src="/assets/img/logos/logo_agente.png" alt="" class="footer-logo mb-2">
    <p class="footer-text font-unio-italic text-white mt-2 mt-md-5 px-0 px-lg-3 text-left">
      <strong class="text-uppercase">Universal y Club Premier</strong> te invitan a vivir una experiencia como Agente Univeral viajando a
      <strong class="text-pink">Chicago y Florencia</strong>.
    </p>
  </div>
  <div class="col-6 footer-links text-center pt-4 pt-lg-0">
    <div class="vertical-divider"></div>
    <div class="footer-link-container w-auto text-left d-inline-block">
      <a routerLink="/" fragment="registro" class="mb-3 mb-md-5 font-volte-regular">Registro</a>
      <a routerLink="/premios" class="my-3 my-md-5 font-volte-regular">Premios</a>
      <a routerLink="/" fragment="mecanica" class="my-3 my-md-5 font-volte-regular">Mecánica</a>
      <a routerLink="/bases" class="my-3 my-md-5 font-volte-regular">Bases del concurso</a>
      <a href="https://www.clubpremier.com/mx/acerca-de-club-premier/aviso-de-privacidad/"
         class="mt-3 mt-md-5 font-volte-regular" target="_blank">
        Aviso de privacidad
      </a>
    </div>
  </div>
</div>
<div class="row footer-bottom py-2">
  <div class="col-12 text-center">
    <a href="https://www.clubpremier.com/mx/bienvenido/" target="_blank">
      <img src="/assets/img/logos/logo_club.png" alt="" class="img-fluid d-inline-block logo-club">
    </a>
  </div>
</div>
