
  <div class="row justify-content-center sticky-top app-navbar mx-n3 px-3 pb-3 pt-3">
    <div class="col-4 text-center text-md-left">
      <a href="http://www.nbcuniversal.com/" target="_blank">
        <img src="/assets/img/logos/logo_agente.png" alt="" class="img-fluid navbar-logo logo-nbc">
      </a>
    </div>
    <div class="col-4 p-0 px-md-3 text-center">
      <a href="https://www.clubpremier.com/mx/bienvenido/" target="_blank">
        <img src="/assets/img/logos/logo_club.png" alt="" class="img-fluid navbar-logo logo-club pt-2">
      </a>
    </div>
    <div class="col-4 col-md-auto p-0 px-md-3 col-lg-4 text-center text-md-right align-vertical-middle">
      <i-feather name="menu" id="navbar-menu" (click)="toggleMenu()"
                 class="text-white ml-0 ml-sm-3 cursor-pointer mt-0 mt-sm-3">
      </i-feather>
    </div>
  </div>

