<div class="row">
  <div class="col-12 p-0 slider">
    <div class="swiper-container main-slider" (mouseenter)="stopAutoplay()" (mouseleave)="startAutoplay()">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <app-sign-up></app-sign-up>
        </div>
        <div class="swiper-slide">
          <div class="container-fluid px-4 py-3 travel-slide d-flex flex-column justify-content-end">
            <div class="row align-items-center pb-5">
              <div class="col-12 offset-0 col-lg-8 offset-lg-4 col-xl-6 offset-xl-6 px-3 pt-5 pt-lg-0 text-right">
                <h1 class="font-usans-heavy text-white slide-title text-uppercase mt-0 mr-2 mr-lg-5 pr-0 pr-lg-5">
                  Gana un increíble<br>
                  viaje a<br>
                  <span class="text-pink-gradient">Chicago</span> y<br>
                  <span class="text-pink-gradient">Florencia</span>
                </h1>
              </div>
              <div class="col-12 col-lg-6 offset-0 offset-lg-3 px-3 text-center">
                <button class="app-btn slide-button w-100 my-5" (click)="goToSlide(0)">
                  <span class="text-uppercase">Participa</span>
                </button>
                <p class="text-white font-volte-regular slide-footer">
                  *¿Aún no eres socio <strong>Club Premier</strong>? <br>
                  Inscríbete sin costo en
                  <a class="subtle-link d-inline-block"
                     href="https://member.clubpremier.com/registro"
                     target="_blank">CLUBPREMIER.COM</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-top"></div>
    </div>
  </div>
</div>
