<div class="container-fluid rewards-container">
  <app-navbar></app-navbar>
  <div class="row rewards-section px-3 px-lg-5 py-5">
    <div class="col-12 px-3 px-lg-5 pb-3 pt-5">
      <h1 class="rewards-title text-uppercase font-usans-heavy text-white">
        Conoce<br>
        el <span class="text-pink-gradient">premio</span>
      </h1>
    </div>
    <div class="col-12 pb-3 col-lg-6 pl-3 pl-lg-5">
      <p class="rewards-text text-white font-unio-italic">
        <strong class="text-uppercase">Universal y Club Premier</strong> te invitan a vivir una experiencia como Agente Universal viajando a
        <strong class="text-pink">Chicago y Florencia</strong>.
      </p>
    </div>
  </div>
  <div class="row tile-section align-items-stretch">
    <div class="col-6 text-left tile p-0">
      <div class="tile-content tile-gradient d-flex justify-content-center align-items-lg-center align-items-lg-center pt-5 pt-lg-0">
        <div class="tile-text">
          <p class="tile-title m-0 font-unio-italic text-white">Comienza descubriendo</p>
          <img src="/assets/img/texts/text_chicago.png" alt="" class="tile-image">
        </div>
      </div>
    </div>
    <div class="col-6 tile p-0">
      <div class="swiper-container chicago-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="image-container" [style.backgroundImage]="'url(/assets/img/chicago_long.jpg)'"></div>
          </div>
          <div class="swiper-slide">
            <div class="image-container" [style.backgroundImage]="'url(/assets/img/chicago2.jpg)'"></div>
          </div>
          <div class="swiper-slide">
            <div class="image-container" [style.backgroundImage]="'url(/assets/img/chicago3.jpg)'"></div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <div class="row travel-section py-3 py-lg-5" id="travel-section-1">
    <div class="col-12 col-xl-8 offset-xl-2 pt-3 py-xl-5 text-center">
      <div class="step d-inline-block text-left" id="first-step">
        <div class="step-number pr-3 pr-lg-5">
          <h1 class="text-white font-usans-heavy">01</h1>
        </div>
        <div class="step-content">
          <h2 class="step-title font-usans-heavy text-pink-gradient">
            Comienza tu aventura
          </h2>
          <p class="step-text font-unio-italic text-white">
            Conoce la ciudad donde 3 de las mejores series de Universal tienen lugar.
            Disfruta de un tour personalizado y conoce lo mejor de Chicago.
          </p>
        </div>
        <img src="/assets/img/line1_hat.png" alt="" id="first-path">
      </div>
      <div class="step d-inline-block" id="second-step">
        <div class="step-content">
          <h2 class="step-title font-usans-heavy text-pink-gradient text-left ml-lg-3">
            Vive la experiencia de ser un Agente Universal
          </h2>
          <div class="step-text font-unio-italic text-white text-left">
            <ul>
              <li>Te hospedarás en el "Hotel de los Presidentes" en la emblemática ciudad de Chicago.</li>
              <li>Contarás con una tarjeta de regalo y un asistente personal.</li>
              <li>Asistirás a un Boot Camp para aprender a negociar como todo un profesional.</li>
              <li>Disfrutarás de una cena y experiencia de mixología en un restaurante exclusivo.</li>
            </ul>
          </div>
        </div>
        <div class="step-number pl-3 pl-lg-5 pr-0">
          <h1 class="text-white font-usans-heavy">02</h1>
        </div>
        <img src="/assets/img/line2.png" alt="" id="second-path">
      </div>
    </div>
  </div>
  <div class="row tile-section align-items-stretch" id="florencia">
    <div class="col-6 tile p-0">
      <div class="swiper-container florencia-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="image-container" [style.backgroundImage]="'url(/assets/img/florencia_long.jpg)'"></div>
          </div>
          <div class="swiper-slide">
            <div class="image-container" [style.backgroundImage]="'url(/assets/img/florencia2.jpg)'"></div>
          </div>
          <div class="swiper-slide">
            <div class="image-container" [style.backgroundImage]="'url(/assets/img/florencia3.jpg)'"></div>

          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="col-6 text-right tile p-0">
      <div class="tile-content tile-gradient-dark d-flex justify-content-center align-items-lg-center align-items-lg-center pt-5 pt-lg-0">
        <div class="tile-text">
          <p class="tile-title m-0 font-unio-italic text-white">Último destino</p>
          <img src="/assets/img/texts/text_florencia.png" alt="" class="tile-image tile-image-right">
        </div>
      </div>
    </div>
  </div>
  <div class="row travel-section py-3 py-lg-5" id="travel-section-2">
    <div class="col-12 col-xl-8 offset-xl-2 pt-3 py-xl-5 text-center">
      <div class="step d-inline-block text-left" id="third-step">
        <img src="/assets/img/line2.png" alt="" id="half-path">
        <div class="step-number pr-3 pr-lg-5">
          <h1 class="text-white font-usans-heavy">03</h1>
        </div>
        <div class="step-content">
          <h2 class="step-title font-usans-heavy text-pink-gradient">
            Continúa la aventura
          </h2>
          <p class="step-text font-unio-italic text-white">
            Viajarás a Florencia, una de las ciudades italianas con mayor historia, cultura y lugares que te asombrarán.
          </p>
        </div>
        <img src="/assets/img/line3_binoculars.png" alt="" id="third-path">
      </div>
      <div class="step d-inline-block text-left" id="fourth-step">
        <div class="step-content text-left">
          <h2 class="step-title font-usans-heavy text-pink-gradient ml-lg-3">
            Descubre los secretos de la ciudad
          </h2>
          <div class="step-text font-unio-italic text-white text-left">
            <ul>
              <li>Tendrás un recorrido por los pasajes secretos de Palazzo Vecchio.</li>
              <li>Tour privado donde conocerás los mejor de Livorno y los maravillosos paisajes de la Toscana.</li>
              <li>Contarás con una tarjeta de regalo que podrás utilizar para comprar, comida o actividades culturales.</li>
            </ul>
          </div>
        </div>
        <div class="step-number pl-3 pl-lg-5 pr-0">
          <h1 class="text-white font-usans-heavy">04</h1>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 offset-0 offset-lg-3 px-3 text-center">
      <button class="app-btn slide-button w-100 my-5" routerLink="/registro">
        <span class="text-uppercase">Participa</span>
      </button>
      <p class="text-white font-volte-regular slide-footer">
        *¿Aún no eres <strong>Socio Club Premier</strong>? <br><br>
        Inscríbete sin costo en
        <a class="subtle-link d-inline-block"
           href="https://member.clubpremier.com/registro"
           target="_blank">CLUBPREMIER.COM</a>
    </div>
  </div>
  <app-footer></app-footer>
</div>
