.modal-container {
  border-radius: 12px;
  background: #F3F3F3;
  .btn-close {
    cursor: pointer;
  }
  .club-logo {
    max-width: 200px;
    display: inline-block;
  }
  .pop-up-text {
    p {
      font-size: 16px;
    }
    h1 {
      line-height: normal;
      font-size: 32px;
    }
  }
  .pop-up-logos {
    img {
      vertical-align: middle;
      display: inline-block;
      max-height: 45px;
      opacity: 0.7;
    }
  }
  .pop-up-buttons {
    .app-btn {
      width: 100%;
      max-width: 300px;
    }
    p {
      font-size: 14px;
    }
    .text-divider {
      position: relative;
      display: inline-block;
      &:before {
        content: '';
        bottom: 50%;
        position: absolute;
        left: -105px;
        width: 100px;
        background: black;
        height: 2px;
        z-index: 1060;
      }
      &:after {
        content: '';
        bottom: 50%;
        position: absolute;
        left: 20px;
        width: 100px;
        background: black;
        height: 2px;
        z-index: 1060;
      }
    }
  }
}

@media (min-width: 768px) {
  .modal-container {
    .pop-up-text {
      p {
        font-size: 22px;
      }
      h1 {
        line-height: 0.8;
        font-size: 48px;
      }
    }
    .pop-up-buttons {
      p {
        font-size: 16px;
      }
    }
  }
}
