<div class="container-fluid points-container d-flex flex-column">
  <app-navbar></app-navbar>
  <div class="row flex-fill py-3 align-items-center">
    <div class="col-12 col-lg-6 text-center mt-3 mt-lg-0 order-last order-lg-first slider-column p-3">
      <div class="slider-container">
        <div class="swiper-container points-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let game of gameList">
              <div class="container-fluid p-3 p-lg-5 slider-tile"
                   [style.backgroundImage]="'url(' + game.cover + ')'">
                <div class="row">
                  <div class="col-12 text-center mb-5">
                    <img [src]="game.icon" class="game-logo">
                  </div>
                  <div class="col-12 text-center game-score">
                    <h4 class="font-volte-bold text-uppercase">Total de puntos</h4>
                    <h1 class="font-volte-bold text-uppercase">{{game.highScore + game.highBonus}}</h1>
                  </div>
                  <div class="col-12 tile-bottom">
                    <img [src]="game.textIndex" alt="" class="game-number">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 text-center">
      <div class="score-box p-3 text-center container-fluid">
        <div class="row align-items-center">
          <div class="col-12 text-center py-3">
            <img src="/assets/img/logos/logo_club_black.png" alt="" class="score-logo">
          </div>
          <div class="col-12 col-lg-4 p-3 py-0">
            <img src="/assets/img/avatar.png" alt="" class="img-fluid avatar">
          </div>
          <div class="col-12 col-lg-8 p-3 text-center text-lg-left">
            <div class="vertical-divider d-none d-lg-block"></div>
            <div class="horizontal-divider d-lg-none"></div>
            <h4 class="font-usans-heavy text-uppercase club-number-title">Número de socio Club Premier</h4>
            <p class="club-number score-text m-0"><strong>{{userInfo?.club_premier_id}}</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center py-3">
            <p class="score-text">
              N° de acumulaciones*
            </p>
            <h1 class="score text-pink">{{ userInfo?.accumulation || 0 | number}}</h1>
          </div>
          <div class="col-12">
            <div class="stats-card container-fluid p-3">
              <div class="row text-center align-items-center">
                <div class="col-6">
                  <img src="/assets/img/icons/game.png" alt="" class="img-fluid stat-icon">
                  <p class="score-text light">Juegos <br>completados</p>
                  <hr class="d-none d-lg-block">
                  <p class="score text-dark">{{getCompletedGames(userInfo?.completed_game)}}</p>
                </div>
                <div class="col-6">
                  <div class="vertical-divider"></div>
                  <img src="/assets/img/icons/point.png" alt="" class="img-fluid stat-icon">
                  <p class="score-text light">Total de <br>puntos por juegos</p>
                  <hr class="d-none d-lg-block">
                  <p class="score text-dark">{{getTotalScore()}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <p class="font-volte-regular text-dark mt-3 mb-0">*Tus acumulaciones se actualizarán cada 15 días</p>
          </div>
          <div class="col-12 text-center p-3">
            <button class="app-btn btn-fb align-vertical-middle mt-3" (click)="share()">
              <fa name="facebook-square mr-3" size="lg"></fa>
              <span class="font-volte-regular mt-1">Compartir en facebook</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loadingContainer"></ngx-loading>
</div>
