<div class="container-fluid games-container d-flex flex-column">
  <app-navbar></app-navbar>
  <ng-container *ngFor="let game of games">
    <div class="row flex-fill game-container"
         [style.backgroundImage]="'url(' + game.background + ')'"
         *ngIf="game.index === selectedGame">
      <div class="col-12 game-counter my-3 my-md-5">
        <div class="counter-item" (click)="setSelectedGame(game.index)"
             [ngClass]="{'active-item': game.index === selectedGame}"
             *ngFor="let game of games">
          <h2>{{ getGameNumber(game.index) }}</h2>
          <br>
          <p class="d-none d-md-inline-block">
            <span *ngIf="game.active">Juego</span>
            <span *ngIf="!game.active">Próximamente<br>{{game.releaseDate}}</span>
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4 px-3 align-self-start text-center text-lg-left">
        <img [src]="game.icon" alt="" class="img-fluid game-logo ml-lg-5">
        <p class="game-description font-unio-italic text-white ml-lg-5 mb-5" [innerHTML]="game.description"></p>
        <button class="app-btn slide-button w-100 ml-lg-5"
                *ngIf="canBePlayed(game)" (click)="openGame(game)">
          <span class="text-uppercase">Jugar</span>
        </button>
      </div>
      <div class="col-12 col-lg-6 col-xl-8 game-text-title">
        <div style="width: 50%; margin: auto" class="d-none d-lg-block">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://drive.google.com/file/d/1Jn9U6bjVlRp7rHQG2TBxdclUyetVVAwt/preview"
                    class="embed-responsive-item"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
        </div>
        <img [src]="game.textIndex" alt="" class="img-fluid">
      </div>
    </div>
  </ng-container>
  <ngx-loading [show]="loadingContainer"></ngx-loading>
</div>
