/* Montserrat */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap');

/* Volte */

@font-face {
  font-family: 'Volte Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Regular Italic'), url('/assets/fonts/Volte/Volte Regular Italic.woff') format('woff');
}


@font-face {
  font-family: 'Volte Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Regular'), url('/assets/fonts/Volte/Volte.woff') format('woff');
}


@font-face {
  font-family: 'Volte Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Light Italic'), url('/assets/fonts/Volte/Volte Light Italic.woff') format('woff');
}


@font-face {
  font-family: 'Volte Light';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Light'), url('/assets/fonts/Volte/Volte Light.woff') format('woff');
}


@font-face {
  font-family: 'Volte Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Medium Italic'), url('/assets/fonts/Volte/Volte Medium Italic.woff') format('woff');
}


@font-face {
  font-family: 'Volte Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Medium'), url('/assets/fonts/Volte/Volte Medium.woff') format('woff');
}


@font-face {
  font-family: 'Volte Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Semibold Italic'), url('/assets/fonts/Volte/Volte Semibold Italic.woff') format('woff');
}


@font-face {
  font-family: 'Volte Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Semibold'), url('/assets/fonts/Volte/Volte Semibold.woff') format('woff');
}


@font-face {
  font-family: 'Volte Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Bold Italic'), url('/assets/fonts/Volte/Volte Bold Italic.woff') format('woff');
}


@font-face {
  font-family: 'Volte Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Bold'), url('/assets/fonts/Volte/Volte Bold.woff') format('woff');
}

/* Century Gothic */

@font-face {
  font-family: 'Century Gothic Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Century Gothic Regular'), url('/assets/fonts/CenturyGothic/GOTHIC.woff') format('woff');
}


@font-face {
  font-family: 'Century Gothic Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Century Gothic Italic'), url('/assets/fonts/CenturyGothic/GOTHICI.woff') format('woff');
}


@font-face {
  font-family: 'Century Gothic Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Century Gothic Bold'), url('/assets/fonts/CenturyGothic/GOTHICB.woff') format('woff');
}


@font-face {
  font-family: 'Century Gothic Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Century Gothic Bold Italic'), url('/assets/fonts/CenturyGothic/GOTHICBI.woff') format('woff');
}
