@import 'fonts';

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bg-transparent {
  background: transparent!important;
}

.app-btn {
  border-radius: 30px;
  color: white;
  padding: 8px 36px 6px;
  border: 1px solid transparent;
  outline: 0 none;
  font-family: 'Volte Regular', sans-serif;
  font-weight: 600;
  letter-spacing: 0.94px;
  font-size: 16px;
  transition: 0.5s;
  cursor: pointer;
  display: inline-block;
  background: rgb(199,22,82);
  background: -moz-linear-gradient(left, rgba(199,22,82,1) 0%, rgba(238,38,63,1) 23%, rgba(239,94,36,1) 50%, rgba(239,94,36,1) 73%, rgba(238,38,63,1) 100%);
  background: -webkit-linear-gradient(left, rgba(199,22,82,1) 0%,rgba(238,38,63,1) 23%,rgba(239,94,36,1) 50%,rgba(239,94,36,1) 73%,rgba(238,38,63,1) 100%);
  background: linear-gradient(to right, rgba(199,22,82,1) 0%,rgba(238,38,63,1) 23%,rgba(239,94,36,1) 50%,rgba(239,94,36,1) 73%,rgba(238,38,63,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c71652', endColorstr='#c71652',GradientType=1 );
  background-size: 200%;
  background-position-x: -1px;
  box-shadow: 0 3px 9px 0 rgba(0,0,0,0.41);
  &:hover {
    background-position-x: 50%;
    border: 1px solid transparent;
  }
  &:active {
    outline: 0 none;
    background-position-x: 90%;
  }
  &:focus {
    outline: 0 none;
  }
  &.outline-btn {
    position: relative;
    box-shadow: none;
    &:before {
      content: '';
      z-index: 2;
      position: absolute;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      top: 2px;
      left: 2px;
      background-color: #F3F3F3;
      border-radius: 30px;
    }
    span {
      z-index: 3;
      position: relative;
      color: #343434;
    }
  }
}

.align-vertical-middle {
  * {
    vertical-align: middle;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.font-volte-regular {
  font-family: 'Volte Regular', sans-serif;
  line-height: 0.95;
}

.font-volte-semibold {
  font-family: 'Volte Semibold', sans-serif;
}

.font-volte-bold {
  font-family: 'Volte Bold', sans-serif;
}

.font-cg-regular {
  font-family: 'Century Gothic Regular', sans-serif;
}

.font-cg-bold {
  font-family: 'Century Gothic Bold', sans-serif;
}

.font-montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.font-montserrat-semibold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.font-montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.text-pink {
  color: #E92945;
}

.subtle-link {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
  &:hover {
    color: #F43F3F;
  }
  &:active {
    color: #E92945;
  }
}

::placeholder {
  color: red;
  opacity: 1;
}

.app-input {
  padding: 18px 14px;
  border-radius: 4px;
  border: 0 none;
  letter-spacing: 2.06px;
  font-family: 'Volte Regular', sans-serif;
  font-size: 18px;
  &:focus {
    border-color: #E92945;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(199,22,82,.25);
  }
}

.form-control::-webkit-input-placeholder { color: #CFCFCF; }
.form-control:-moz-placeholder { color: #CFCFCF; }
.form-control::-moz-placeholder { color: #CFCFCF;}
.form-control:-ms-input-placeholder { color: #CFCFCF; }
.form-control::-ms-input-placeholder { color: #CFCFCF; }
