<div class="overlay" [ngClass]="{'expanded': expanded}">

  <a class="btn-close" (click)="toggleMenu()">&times;</a>

  <div class="overlay-content">
    <a routerLink="/" fragment="inicio" (click)="toggleMenu()">Inicio</a>
    <a routerLink="/" fragment="registro" (click)="toggleMenu()" *ngIf="!userService.loggedIn">Registro</a>
    <a routerLink="/juegos" (click)="toggleMenu()" *ngIf="userService.loggedIn">Juegos</a>
    <a routerLink="/puntos" (click)="toggleMenu()" *ngIf="userService.loggedIn">Mis puntos</a>
    <a routerLink="/premios" (click)="toggleMenu()">Premios</a>
    <a routerLink="/" fragment="mecanica" (click)="toggleMenu()">Mecánica</a>
    <a routerLink="/bases" (click)="toggleMenu()">Bases del concurso</a>
    <a (click)="logout()" *ngIf="userService.loggedIn">Cerrar sesión</a>
    <a href="https://www.clubpremier.com/mx/acerca-de-club-premier/aviso-de-privacidad/"
       class="privacy-link" target="_blank" (click)="toggleMenu()">
      Aviso de privacidad
    </a>
  </div>

  <img src="/assets/img/agent_menu.png" alt="" class="menu-agent img-fluid">

</div>
